:root{
    --primaryColor : #562151;
    --secondaryColor : #FBB95D;

    --mainFont : 'Open Sans', sans-serif;
    --headingFont : 'Merriweather', wserif;
}
body{
    font-family: var(--mainFont);
}
.heading{
    font-family: var(--headingFont);
    font-size: 24px;
    font-weight: 700;
}
.headings{
    font-family: var(--headingFont);
    color: var(--secondaryColor);
    font-size: 24px;
    font-weight: 700;
}
.subheading{
    font-weight: 300;
}
section-margin{
    margin-top: 100px;
}

/*Navbar*/
.navbar-brand{
    font-family: var(--headingFont);
    font-weight: 900;
    color: var(--secondaryColor);
}

.navbar-brand span{
    color: var(--primaryColor);
}
.nav-link{
    color: var(--secondaryColor);
    font-family: var(--headingFont);
}
.nav-link.active{
    color: var(--secondaryColor) !important;
    font-size: 700;
}
.icons-home i{
    font-size: 1.8rem;
    color: var(--secondaryColor);
}

/*Home*/
.home{
    background-color: var(--primaryColor);
    height: 700px;
}
.home .heading{
    color: var(--secondaryColor);
}
.btns{
    background-color: var(--secondaryColor);
}
/*about*/
.card-service{
    background-color: var(--primaryColor);
    color: #fff;
}
.card-service .btn-service{
    background-color: var(--secondaryColor);
}
.btn-service a{
    color: var(--primaryColor);
    font-family: var(--headingFont);
    font-weight: 700;
}

footer {
    padding-top: 120px;
}

.footer-top {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.footer-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
}


footer li,
footer p,
footer a {
    color: rgba(255,255,255,0.7);
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brand);
    margin-top: 12px;
    margin-bottom: 24px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border-radius: 100px;
}

.social-icons a:hover {
    background-color: var(--c-brand);
    color: white;
}

